{% extends 'layouts/baseAdmin.html' %}

{% block content %}

    <div class="contenedor__inicio">
        <div class="contenedor_titulo"> 
            <h1>Bienvenido {{ request.user.username }} al Panel para Administradores</h1>
        </div>
        <div class="container">
            {% if messages %}
                <div class="mensajes" style="margin-top: 6px;">
                    {% for message in messages %}
                        <h3 class="mensaje__Success">{{ message }}</h3>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="table_header">
                <h2>Categorias</h2>
                <button><a href="{% url 'nuevo_proveedor' %}">Añadir Categoria</a></button>
            </div>
            <table class="display" id="MiTabla">
                <thead>
                    <tr>
                        <th>ID <i class="bi bi-chevron-expand"></i></th>
                        <th>Categoria <i class="bi bi-chevron-expand"></i></th>
                        <th>Descripción <i class="bi bi-chevron-expand"></i></th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                        <tr>
                            <td>{{ categoria.id }}</td>
                            <td>{{ categoria.nombre }}</td>
                            <td>{{ categoria.descripcion }}</td>
                            <td>
                                <a href="{% url 'editar_categoria' categoria.id %}"><i class="bi bi-pencil-square" id="icons"></i></a>
                                <a href="{% url 'eliminar_categoria' categoria.id %}"><i class="bi bi-trash3" id="icons"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#MiTabla').DataTable({
                "order": [[1, "asc"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrada de _MAX_ Registros)",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },
            });
        }); 
    </script>

{% endblock %}