{% extends 'layouts/baseAdmin.html' %}

{% block content %}

    <div class="contenedor__inicio">
        <div class="contenedor_titulo">
            <h1>Bienvenido {{ request.user.username }} al Panel para Administradores</h1>
        </div>
        <div class="container">
            <div class="table_header">
                <h2>Usuarios</h2>
            </div>
            <div class="table-responsive">
                <table class="display" id="MiTabla">
                    <thead>
                        <tr>
                            <th>Usuario <i class="bi bi-chevron-expand"></i></th>
                            <th>Email <i class="bi bi-chevron-expand"></i></th>
                            <th>Fecha Registro <i class="bi bi-chevron-expand"></i></th>
                            <th>Último Login <i class="bi bi-chevron-expand"></i></th>
                            <th>Superusuario <i class="bi bi-chevron-expand"></i></th>
                            <th>Staff <i class="bi bi-chevron-expand"></i></th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                                <tr>
                                <td>{{ cliente.username }}</td>
                                <td>{{ cliente.email }}</td>
                                <td>{{ cliente.date_joined }}</td>
                                <td>{{ cliente.last_login }}</td>
                                <td>
                                    {% if cliente.is_superuser == False %}
                                        <i class="bi bi-x-circle-fill" style="color: #FF0000;"></i>
                                    {% else %}
                                        <i class="bi bi-check-circle-fill" style="color: #0FFF00;"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if cliente.is_staff == False %}
                                        <i class="bi bi-x-circle-fill" style="color: #FF0000;"></i>
                                    {% else %}
                                        <i class="bi bi-check-circle-fill" style="color: #0FFF00;"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'eliminar_cliente' cliente.id %}"><i class="bi bi-trash3" id="icons"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#MiTabla').DataTable({
                "order": [[1, "asc"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrada de _MAX_ Registros)",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },
            });
        }); 
    </script>

{% endblock %}
