{% extends 'layouts/baseAdminEditar.html' %}

{% block content %}

    <div class="contenedor__formularios" style="margin-top: 140px; margin-bottom: 60px;">        
        <div>
            <h1>Editar Marca</h1>
            {% if error %}
                <h3 class="mensaje__Error">{{ error }}</h3>
            {% endif %}
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" name="categoria_form">Guardar</button>
            <button><a href="{% url 'index_admin' %}" style="text-decoration: none; color: #fff;">Cancelar</a></button>
        </form>
    </div>

{% endblock %}