{% extends 'layouts/baseAdminEditar.html' %}

{% block content %}
    <div class="contenedor__formularios" style="margin-top: 140px; margin-bottom: 60px;">
        <div>
            <h1>Editar Producto</h1>
            {% if error %}
                <h3 class="mensaje__Error">{{ error }}</h3>
            {% endif %}
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group">
                <label for="nombre">Nombre:</label>
                {{ form.nombre }}
            </div>
            <div class="input-group">
                <label for="descripcion">Descripción:</label>
                {{ form.descripcion }}
            </div>
            <div class="input-group">
                <label for="precio">Precio:</label>
                {{ form.precio }}
            </div>
            <div class="input-group">
                <label for="cantidad">Cantidad:</label>
                {{ form.cantidad }}
            </div>
            <div class="input-group">
                <label for="disponibilidad">Disponibilidad:</label>
                <div class="checkbox-container">
                    {{ form.disponibilidad }}
                </div>
            </div>        
            <div class="input-group">
                <label for="marca">Marca:</label>
                {{ form.marca }}
            </div>
            <div class="input-group">
                <label for="categoria">Categoría:</label>
                {{ form.categoria }}
            </div>
            <div class="input-group">
                <label for="imagen">Cambiar Imagen:</label>
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="max-width: 100px; max-height: 100px;">
                {% endif %}
                {{ form.imagen }}
            </div>
            <button class="btn-guardar">Guardar</button>
            <button><a href="{% url 'index_admin' %}" style="text-decoration: none; color: #fff;">Cancelar</a></button>
        </form>
    </div>
{% endblock %}
