<!-- Esta es la plantilla que se usará en las demás páginas, para eso se utiliza la sintaxis de Jinja2 -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Esta sintaxis cambiara para cada titulo de las demás páginas -->
    <title>{% block title %} GOMA Comercializadora {% endblock %}</title>
    <!-- Agreguen más hojas de estilo a esta ruta de ser necesario -->
    <link rel="stylesheet" href="../../static/Css/main.css">
</head>
<body>

    <!-- Este es el menu, aqui van a ir los enlaces a las páginas adicionales, pueden modificar -->
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Marcas</a></li>
            <li><a href="#">Proveedores</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
            {% else %}
                <li><a href="{% url 'registrar' %}">Inicio de Sesión o Registro</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <!-- Dentro de Este apartado "iran" los contenidos de las páginas -->
    {% block content %}
    {% endblock %}
    
    <!-- Agreguen más scripts a esta ruta de ser necesario -->
    <script src="../../static/Js/app.js"></script>

</body>
</html>