@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    padding: 20px 20px;
    z-index: 10;
    background: transparent;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header.abajo {
    background: #a70c11;
    padding: 15px 20px;
}

header .logo {
    color: #fff;
    font-weight: bold;
    font-style: oblique;
    font-size: 2em;
    transition: 1.5s;
    text-decoration: none;
}

header .logo p {
    font-size: 12px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    font-family: helvetica;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.7s;
}

header ul li a:hover {
    text-decoration: underline;
}

/* Responsive menu styles */
.menu-toggle {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.zonal {
    min-height: 80vh;
    background: linear-gradient(rgba(75, 75, 75, 0.2), rgba(46, 46, 46, 0.8)), url(../Img/portada.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.zonal .Inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8rem;
    text-align: center;
}

.zonal .Inicio h1 {
    font-size: 2.8rem;
    color: #fff;
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.zonal .Inicio p {
    font-size: 1rem;
    color: #fff;
    padding: 1rem 25rem;
}

.zonal .Inicio button {
    height: 2.6rem;
    width: 10rem;
    border-radius: 1rem;
    background: #a70c11;
    color: #fff;
    font-size: .8rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    margin: 4rem 0;
    border-color: #a70c11;
}

.zonal .Inicio button:hover {
    background: none;
    border: .1rem solid #a70c11;
}

header.abajo .logo,
header.abajo ul li a {
    color: #fff;
}

/* Footer styles */
.pie-pagina {
    width: 100%;
    background-color: #050a0f;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box a {
    display: flex;
    color: #efefef;
    margin-bottom: 10px;
    text-decoration: none;
}

.pie-pagina .grupo-1 .box a:hover {
    text-decoration: underline;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #01060a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width: 1200px) {
    .zonal .Inicio p {
        padding: 1rem 10rem;
    }
}

@media screen and (max-width: 800px) {
    .menu-toggle {
        display: block;
    }

    header {
        background-color: #a70c11;
    }

    header ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #a70c11;
        position: absolute;
        top: 70px;
        left: 0;
    }

    header ul li {
        margin: 10px 0;
    }

    header ul li a {
        font-size: 1.2rem;
    }

    header.active ul {
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    header .logo {
        font-size: 1.5em;
    }

    .zonal {
        height: 60vh;
    }

    .zonal .Inicio {
        padding-top: 16rem;
    }

    .zonal .Inicio h1 {
        font-size: 2.4rem;
    }

    .zonal .Inicio p {
        padding: 1rem 5rem;
    }

    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 70%;
        overflow-x: hidden;
    }

    .zonal .Inicio {
        padding-top: 60%;
    }
    
    .zonal .Inicio h1 {
        font-size: 3rem;
    }

    .zonal .Inicio p {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .zonal .Inicio button {
        width: 10rem;
        height: 5rem;
        font-size: 1rem;
    }
}
