.seccion__productos-contenedor {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.seccion__productos-producto {
    flex-basis: 20%;
    width: 700px;
    height: auto;
    margin: 10px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
}

.producto__info {
    flex: 1;
    max-height: 250px; /* Ajusta la altura máxima según tus necesidades */
    overflow: hidden;
}

.productos__titulo {
    padding: 10px 0px;
    font-size: 22px;
}

.productos__img {
    width: 240px;
    height: 200px;
    /* object-fit: cover; */
    border-radius: 4px;
}

.productos__descripcion {
    padding: 10px 0px;
    font-size: 16px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.productos__precio {
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 400;
    margin-top: auto;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.botones button {
    background-color: #b10101;
    color: #fff;
    margin: 10px 4px;
    border: none;
    height: 50px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.botones button:hover {
    background-color: #860000;
}