.titulo__seccion {
    text-align: center;
    margin-bottom: 30px;
}

.titulo__seccion h1 {
    font-size: 36px;
    color: #000;
}

.mensaje__Error {
    font-size: 18px;
    color: #f00;
}

.busqueda {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.busqueda input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 300px;
    transition: border-color 0.3s ease;
}

.busqueda input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.busqueda button {
    border: none;
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.busqueda button:hover {
    background: #0056b3;
}

/* Estilos para el ícono */
.fa-search {
    font-size: 18px;
}


.seccion__productos-contenedor {
    margin: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.seccion__productos-producto {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.productos__info {
    flex-grow: 1;
}

.productos__titulo {
    font-size: 24px;
    margin-bottom: 10px;
}

.productos__imagen img {
    max-width: 100%;
    height: auto;
}

.imagen-no-disponible {
    text-align: center;
    color: #777;
}

.productos__descripcion {
    margin-bottom: 10px;
    text-align: justify;
}

.botones {
    margin-top: auto;
}

.botones button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comprar-button {
    background-color: #f0262d;
    color: white;
}

.añadir_al_carrito {
    background-color: #a70c11;
    color: white;
    margin-left: 10px;
}

.comprar-button:hover {
    background-color: #d32127;
}

.añadir_al_carrito:hover {
    background-color: #86090d;
}