<!-- Esta es la página del blog aqui se agregaran novedades que haya como por ejemplo promociones, no modificar la 
    sintaxis de jinja ya establecida aqui, dentro de la carpeta templates iran los archivos HTML, los archivos CSS, JS
    e IMG irán en la carpeta static -->

<!-- Esto hace mención a que va a heredar el contenido de la página "base.html" -->
{% extends 'layouts/basePages.html' %}

{% block title %} Agregar Nuevos Proveedores {% endblock %}

{% block content %}

    <div class="contenedor__todo" style="margin-top: 100px; margin-bottom: 60px;">
        <div>
            <h1>Agregar Nuevos Proveedores</h1>
            <h3 class="mensaje__Error">{{ error }}</h3>
        </div>
        <div class="contenedor" style="display: flex;">
            <div class="contenedor__formularios">
                <h2>Nueva Marca</h2>
                <h3 class="mensaje__Success">{{ mensajeMarca }}</h3>
                <h3 class="mensaje__Error">{{ errorMarca }}</h3>
                {{ errorMarca }}
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ MarcaForm }}
                    <button type="submit" name="marca_form">Agregar Marca</button>
                </form>
            </div> 
            <div class="contenedor__formularios">
                <h2>Nueva Categoria</h2>
                <h3 class="mensaje__Success">{{ mensajeCategoria }}</h3>
                <h3 class="mensaje__Error">{{ errorCategoria }}</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ CategoriaForm }}
                    <button type="submit" name="categoria_form">Agregar Categoria</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}