<!-- Esta es la página del blog aqui se agregaran novedades que haya como por ejemplo promociones, no modificar la 
    sintaxis de jinja ya establecida aqui, dentro de la carpeta templates iran los archivos HTML, los archivos CSS, JS
    e IMG irán en la carpeta static -->

<!-- Esto hace mención a que va a heredar el contenido de la página "base.html" -->
{% extends 'layouts/base.html' %}

{% block title %} Agregar Nuevos Proveedores {% endblock %}

{% block content %}

    <h1>Agregar Nuevos Proveedores</h1>
    {{ error }}

    <h2>Nueva Marca</h2>
    {{ errorMarca }}
    <form action="" method="POST">
        {% csrf_token %}
        {{ MarcaForm }}
        <button type="submit" name="marca_form">Agregar Marca</button>
    </form>

    <h2>Nueva Categoria</h2>
    {{ errorCategoria }}
    <form action="" method="POST">
        {% csrf_token %}
        {{ CategoriaForm }}
        <button type="submit" name="categoria_form">Agregar Categoria</button>
    </form>

{% endblock %}