<!-- Esta es la página del blog aqui se agregaran novedades que haya como por ejemplo promociones, no modificar la 
    sintaxis de jinja ya establecida aqui, dentro de la carpeta templates iran los archivos HTML, los archivos CSS, JS
    e IMG irán en la carpeta static -->

<!-- Esto hace mención a que va a heredar el contenido de la página "base.html" -->
{% extends 'layouts/base.html' %}
{% load static %}

<!-- Aqui se modifica al titulo correspondiente de la página -->
{% block title %} Blog de Nuestra Empresa {% endblock %}

<!-- Indica el contenido, aquí ira todo lo correspondiente a la página principal, NO modificar la sintaxis jinja -->
{% block content %}

    <!-- Agregar la información, (MEJOREN LA ESTRUCTURA) -->
    <h1>Blog</h1>

    <!-- Mostrar la lista de los Posts, (Itera casa POST en la lista de POSTS y va creando un div para cada uno) -->
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <img src="{{ post.image.url }}" alt="{{ post.image }}" width="300">
            <p>{{ post.content }}</p>
            <p><b>Fecha de Publicación: </b>{{ post.created_at|date:"j F, Y" }}</p>
            <a href="#">Ver el Producto</a>
        </div>
    {% endfor %}

    <!-- Aqui denle diseño de boton -->
    {% if request.user.is_authenticated %}
        <br>
        <a href="{% url 'nuevo_blog' %}">Agregar un Nuevo Articulo</a>
    {% endif %}

{% endblock %}