<!-- Esta es la página principal de toda la aplicación web, no modificar la sintaxis de jinja ya establecida aqui,
    dentro de la carpeta templates iran los archivos HTML, los archivos CSS, JS e IMG irán en la carpeta static -->

<!-- Esto hace mención a que va a heredar el contenido de la página "base.html" -->
{% extends 'layouts/base.html' %}
{% load static %}

<!-- Indica el contenido, aquí ira todo lo correspondiente a la página principal, NO modificar la sintaxis jinja -->
{% block content %}

    <!-- Agregar la información -->
    {% if request.user.is_authenticated and request.user.is_superuser %}
        <h2>Bienvenido Administrador {{ request.user.username }}</h2>
    {% elif request.user.is_authenticated %}
        <h2>Bienvenido {{ request.user.username }}!!</h2>
    {% else %}
        <h2>Bienvenido</h2>
    {% endif %}

    <!-- Aqui va toda la info de la pagina -->
    <section class="textos-header">
        <h1>GOMA</h1>
        <h2>Todo lo que quieres encontrar</h2>

    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #390d0d;"></path>
        </svg></div>
    <div class="card">
        <div class="card-image">
            <img src="../static/Img/Refaccionaria.png" alt="" />
        </div>
        <div class="card-text">
            <h2>GOMA</h2>
            <p>
                <span>Que somos</span><br> Experiencia del Usuario Mejorada:
                El diseño y desarrollo de la plataforma de e-commerce se
                centrará en proporcionar una experiencia fluida y atractiva
                para los usuarios. Con una interfaz intuitiva y fácil de usar,
                los clientes podrán navegar por el sitio, buscar productos y
                realizar compras de manera eficiente.

                Mayor Eficiencia en la Gestión de Productos:
                La implementación del formulario para la gestión de productos
                permitirá al super usuario agregar fácilmente nuevos productos
                al catálogo en línea. Con campos estructurados para información
                clave como nombre, precio e imagen, el proceso de agregar
                productos será más rápido y eficiente, lo que garantizará
                una oferta de productos actualizada y variada para los clientes.
            </p>
        </div>
    </div>
    <section class="contenedor__nuevo">
        <div>
            <img src="" alt="oaxaca" class="imagen-oaxaca">
            <div class="contenido-textos">
                <h3><span>1</span>VBABVJBDVBOABRIBOABDKFC</h3>
                <p>buduivaubvabjfjbjvfBJ
                </p>
                <h3><span>2</span>VAN OKERBVFBNANFNOVNPANB</h3>
                <p> NVIODABUBVIULSBHRBFOVNSNBF
                </p>
            </div>
        </div>
    </section>
    
    <div>
        <img src="../static/Img/Refaccion.jpg" alt="">
    </div>

    <div>
        <p>
            
        </p> 
    </div>
      
    

{% endblock %}