<!-- Esta es la página principal de toda la aplicación web, no modificar la sintaxis de jinja ya establecida aqui,
    dentro de la carpeta templates iran los archivos HTML, los archivos CSS, JS e IMG irán en la carpeta static -->

<!-- Esto hace mención a que va a heredar el contenido de la página "base.html" -->
{% extends 'layouts/base.html' %}
{% load static %}

<!-- Indica el contenido, aquí ira todo lo correspondiente a la página principal, NO modificar la sintaxis jinja -->
{% block content %}

    <!-- Aqui va toda la info de la pagina -->
    <div class="zonal">
        <div class="Gran-image">
            <div class="Inicio">
                {% if request.user.is_authenticated and request.user.is_superuser %}
                    <h1>Bienvenido Administrador {{ request.user.username }}</h1>
                {% elif request.user.is_authenticated %}
                    <h1>Bienvenido {{ request.user.username }}!!</h1>
                {% else %}
                    <h1>Bienvenido a Comercializadora GOMA</h1>
                {% endif %}
                <p>Ofreciendo los mejores productos y servicios desde 1989.</p>
            </div>
        </div>
    </div>
    <!-- <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #390d0d;"></path>
        </svg></div> -->
    <div class="card">
        <div class="card-image">
            <img src="../static/Img/Refaccionaria.png" alt="" />
        </div>
        <div class="card-text">
            <h2>GOMA</h2>
            <p>
                <span>Que somos</span><br> Experiencia del Usuario Mejorada:
                El diseño y desarrollo de la plataforma de e-commerce se
                centrará en proporcionar una experiencia fluida y atractiva
                para los usuarios. Con una interfaz intuitiva y fácil de usar,
                los clientes podrán navegar por el sitio, buscar productos y
                realizar compras de manera eficiente.

                Mayor Eficiencia en la Gestión de Productos:
                La implementación del formulario para la gestión de productos
                permitirá al super usuario agregar fácilmente nuevos productos
                al catálogo en línea. Con campos estructurados para información
                clave como nombre, precio e imagen, el proceso de agregar
                productos será más rápido y eficiente, lo que garantizará
                una oferta de productos actualizada y variada para los clientes.
            </p>
        </div>
    </div>

    <section class="contenedor sobre-nosotros">
        <h2 class="titulo">¿Que hacer?</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="cafe-irlandes.png" alt="" class="imagenen">
            <div class="contenido-textos">
                <h3><span>1</span>Elige la plataforma donde juegues</h3>
                <p>Abajo en las cuatro secciones que presentamos puedes elegir la plataorma de tu agrado
                    y comenzar a buscar la recomendacion que mas te agrade
                </p>
                <h3><span>2</span>Elige un Juego</h3>
                <p>Cuando selecciones un juego vendra parte de su informacion, como lo calificamos y porque lo
                    recomendamos
                </p>
            </div>
        </div>
    </section>
    <div class="card2">
        <div class="card-image2">
            <img src="cafe-irlandes.png" alt="" />
        </div>
        <div class="card-text2">
            <h2>GOMA</h2>
            <p>
                <span>Que somos</span><br> Experiencia del Usuario Mejorada:
                El diseño y desarrollo de la plataforma de e-commerce se
                centrará en proporcionar una experiencia fluida y atractiva
                para los usuarios. Con una interfaz intuitiva y fácil de usar,
                los clientes podrán navegar por el sitio, buscar productos y
                realizar compras de manera eficiente.

                Mayor Eficiencia en la Gestión de Productos:
                La implementación del formulario para la gestión de productos
                permitirá al super usuario agregar fácilmente nuevos productos
                al catálogo en línea. Con campos estructurados para información
                clave como nombre, precio e imagen, el proceso de agregar
                productos será más rápido y eficiente, lo que garantizará
                una oferta de productos actualizada y variada para los clientes.
            </p>
        </div>
    </div>


{% endblock %}