<!-- Esta es la página principal de toda la aplicación web, no modificar la sintaxis de jinja ya establecida aqui,
    dentro de la carpeta templates iran los archivos HTML, los archivos CSS, JS e IMG irán en la carpeta static -->

<!-- Esto hace mención a que va a heredar el contenido de la página "base.html" -->
{% extends 'layouts/base.html' %}
{% load static %}

<!-- Indica el contenido, aquí ira todo lo correspondiente a la página principal, NO modificar la sintaxis jinja -->
{% block content %}

    <!-- Aqui va toda la info de la pagina -->
    <div class="zonal">
        <div class="Gran-image">
            <div class="Inicio">
                {% if request.user.is_authenticated and request.user.is_superuser %}
                    <h1>Bienvenido Administrador {{ request.user.username }}</h1>
                {% elif request.user.is_authenticated %}
                    <h1>Bienvenido {{ request.user.username }}!!</h1>
                {% else %}
                    <h1>Bienvenido a Comercializadora GOMA</h1>
                {% endif %}
                    <p>Ofreciendo los mejores productos y servicios desde 1989.</p>
            </div>
        </div>
    </div>

    <div class="slider-frame">
        <ul>
            <li><img src="../static/Img/img1.jpg" alt=""></li>
            <li><img src="../static/Img/Refaccionaria.png" alt=""></li>
            <li><img src="../static/Img/img3.jpg" alt=""></li>
        </ul>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="../static/Img/GOMAlogo.jpg" alt="" />
        </div>
        <div class="card-text">
            <p>
                <span>¿Quiénes somos?</span><br>
                <p style="text-align: justify;">En GOMA nos dedicamos a proporcionar a nuestros clientes las mejores refacciones, partes y lubricantes para mantener sus vehículos en óptimas condiciones. Nos enorgullecemos de ofrecer productos de alta calidad y un servicio excepcional.</p>
            </p>
        </div>
    </div>

    <section class="contenedor sobre-nosotros" style="margin-top: 60px;">
        <div class="contenedor-sobre-nosotros">
            <img src="../static/Img/GOMA_info.jpeg" alt="" class="imagenen">
            <div class="contenido-textos">
                <h3><span>1</span> Variedad de Productos</h3>
                <p>En GOMA, ofrecemos una amplia selección de refacciones, partes y lubricantes de las mejores marcas del mercado. Nuestro catálogo incluye todo lo que necesitas para mantener tu vehículo en perfecto estado.</p>
                <h3><span>2</span> Servicio al Cliente</h3>
                <p>Nuestro equipo está comprometido en brindar el mejor servicio al cliente. Estamos aquí para ayudarte a encontrar las partes que necesitas y responder a todas tus preguntas con conocimiento y profesionalismo.</p>
            </div>
        </div>
    </section>

    <section class="contenedor-carta">
        <div class="contenedor-imagen">
            <img src="../static/Img/goma_datos.jpeg" alt="">
        </div>
        <div class="contenedor-texto">
            <h2 class="titulo-carta" style="text-align: center;">Gerente de GOMA</h2>
            <p class="titulolo">Tu socio confiable en refacciones y partes automotrices</p>
            <p class="biografia">En GOMA, nos esforzamos por ser tu proveedor de confianza en el mundo de las refacciones y partes automotrices. Nuestro compromiso es ofrecerte productos de calidad y un servicio excepcional para satisfacer todas tus necesidades.</p>
            <div class="icon">
                <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
            </div>
        </div>
    </section>

    <div class="seccion__contacto">
        <div>
            <h2>Formulario de Contacto</h2>
            <p>Contacta directo a ese Email</p>
        </div>
        <form method="POST" action="{% url 'contact' %}" class="contenedor__formularios" id="contactoForm">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <h3 class="mensaje__Success">{{ message }}</h3>
            {% endfor %}
            {% endif %}
            <div class="grupo-formulario">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="grupo-formulario">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="grupo-formulario">
                <label for="subject">Asunto:</label>
                <input type="text" id="subject" name="subject" required>
            </div>
            <div class="grupo-formulario">
                <label for="message">Mensaje:</label>
                <textarea id="message" name="message" required></textarea>
            </div>
            <div class="grupo-formulario">
                <button type="submit">Enviar Mensaje</button>
            </div>
        </form>
    </div>

{% endblock %}