<!-- Esta es la página principal de toda la aplicación web, no modificar la sintaxis de jinja ya establecida aqui,
    dentro de la carpeta templates iran los archivos HTML, los archivos CSS, JS e IMG irán en la carpeta static -->

<!-- Esto hace mención a que va a heredar el contenido de la página "base.html" -->
{% extends 'layouts/basePages.html' %}

<!-- Aqui se modifica al titulo correspondiente de la página -->
{% block title %} Inicia Sesión {% endblock %}

<!-- Indica el contenido, aquí ira todo lo correspondiente a la página principal, NO modificar la sintaxis jinja -->
{% block content %}

<!-- Agregar la información, (MEJOREN LA ESTRUCTURA) -->
    <div class="contenedor__formularios" style="margin-top: 60px; margin-bottom: 80px;">
        <div class="contenedor__formularios-login">
            <div>
                <h1>Iniciar Sesión</h1>
                
                {% if messages %}
                    {% for message in messages %} 
                        <h3 class="mensaje__Error">{{ message }}</h3>
                    {% endfor %}
                {% endif %}

                {% if errorLogin %}
                    <h3 class="mensaje__Error">{{ errorLogin }}</h3>
                {% endif %}
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div>
                    <label>Nombre de Usuario</label>
                    {{ formLogin.username }}
                </div>
                <div>
                    <label>Contraseña</label>
                    {{ formLogin.password }}
                </div>
                <div>
                    <a href="{% url 'registrar' %}">No tienes una cuenta aún? Registrate</a><br>
                    <button>Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}