<!-- Esta es la página del blog aqui se agregaran novedades que haya como por ejemplo promociones, no modificar la 
    sintaxis de jinja ya establecida aqui, dentro de la carpeta templates iran los archivos HTML, los archivos CSS, JS
    e IMG irán en la carpeta static -->

<!-- Esto hace mención a que va a heredar el contenido de la página "base.html" -->
{% extends 'layouts/base.html' %}

{% block title %} Nuevo Producto {% endblock %}

{% block content %}

    <div class="contenedor__formularios" style="margin-top: 100px;">
        <div>
            <h1>Agregar Producto Nuevo</h1>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label>Nombre:</label>
                <!-- Los inputs tienen la clase form-control -->
                {{ form.nombre }}
            </div>
            <div>
                <label>Descripción:</label>
                {{ form.descripcion }}
            </div>
            <div>
                <label>Precio:</label>
                {{ form.precio }}
            </div>
            <div>
                <label>Cantidad:</label>
                {{ form.cantidad }}
            </div>
            <div>
                <label>Disponibilidad</label>
                {{ form.disponibilidad }}
            </div>
            <div>
                <label>Marca:</label>
                {{ form.marca }}
            </div>
            <div>
                <label>Categoria:</label>
                {{ form.categoria }}
            </div>
            <div>
                <label>Imagen:</label>
                {{ form.imagen }}
            </div>
            <button>Guardar</button>
        </form>
    </div>

{% endblock %}