{% extends 'layouts/basecarrito.html' %}

{% block title %} Nuestros Productos {% endblock %}

{% block content %}

    <div class="contenedor__productos" style="margin-top: 20px; margin-bottom: 60px;">
        <div class="titulo__seccion">
            <h1>Nuestros Productos</h1>
            <form id="form-busqueda" action="#" method="GET" class="busqueda">
                <input type="text" name="q" placeholder="Buscar productos...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            {% if messages %}
                {% for message in messages %} 
                    <h3 class="mensaje__Error">{{ message }}</h3>
                {% endfor %}
            {% endif %}
        </div>              
        <div class="seccion__productos-contenedor">
            {% for producto in productos %}
                <div class="seccion__productos-producto" data-aos="fade-down" data-aos-duration="1000">
                    <div class="productos__info">
                        <h2 class="productos__titulo">{{ producto.nombre }}</h2>
                        <div class="productos__imagen">
                            {% if producto.imagen %}
                                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="productos__img" width="300">
                            {% else %}
                                <p class="imagen-no-disponible">Imagen no disponible</p>
                            {% endif %}
                        </div>
                        <p class="productos__descripcion">{{ producto.descripcion }}</p>
                        <p class="productos__precio"><b>Precio:</b> ${{ producto.precio|floatformat:2 }} MXN</p>
                        <p class="productos__marca"><b>Marca:</b> {{ producto.marca.nombre }}</p>
                        <p class="productos__categoria"><b>Categoria:</b> {{ producto.categoria.nombre }}</p>
                    </div>
                    <div class="botones">
                        <button type="submit" class="comprar-button" data-product-id="{{ producto.id }}">Comprar</button>
                        <button type="submit" class="añadir_al_carrito" data-product-id="{{ producto.id }}" data-product-price="{{ producto.precio }}">Añadir al Carrito</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const success = urlParams.get('success');

            if (success === 'true') {
                swal({
                    title: '¡Compra exitosa!',
                    text: 'Tu compra se ha realizado con éxito.',
                    icon: 'success',
                    button: 'Aceptar'
                });
            }
        });
    </script>

    <!-- <script>
        $(document).ready(function() {
            $('#form-busqueda').submit(function(event) {
                event.preventDefault();
                var query = $(this).find('input[name="q"]').val();
                $.ajax({
                    url: '/buscar_productos/',
                    method: 'GET',
                    data: {q: query},
                    success: function(data) {
                        $('.seccion__productos-contenedor').empty();

                        if (data.length > 0) {
                            data.forEach(function(producto) {
                                // Renderizar cada producto
                                var productoHTML = renderizarProducto(producto);
                                $('.seccion__productos-contenedor').append(productoHTML);
                            });
                        } else {
                            $('.seccion__productos-contenedor').append('<p>No se encontraron productos.</p>');
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.error('Error:', textStatus, errorThrown);
                    }
                });
            });
        
            // Función para renderizar un producto
            function renderizarProducto(producto) {
                var productoHTML = `
                    <div class="seccion__productos-producto" data-aos="fade-down" data-aos-duration="1000">
                        <div class="productos__info">
                            <h2 class="productos__titulo">${producto.nombre}</h2>
                            <div class="productos__imagen">
                                ${producto.imagen_url ? `<img src="${producto.imagen_url}" alt="${producto.nombre}" width="300">` : `<p class="imagen-no-disponible">Imagen no disponible</p>`}
                            </div>
                            <p class="productos__descripcion">${producto.descripcion}</p>
                            <p class="productos__precio"><b>Precio:</b> $${producto.precio} MXN</p>
                            <p class="productos__marca"><b>Marca:</b> ${producto.marca}</p>
                            <p class="productos__categoria"><b>Categoría:</b> ${producto.categoria}</p>
                        </div>
                        <div class="botones">
                            <button type="submit" class="comprar-button" data-producto-id="${producto.id}">Comprar</button>
                            <button type="submit" class="añadir_al_carrito" data-producto-id="${producto.id}">Añadir al Carrito</button>
                        </div>
                    </div>
                `;
                return productoHTML;
            }
        });
    </script> -->

{% endblock %}