<!-- Esta es la página del blog aqui se agregaran novedades que haya como por ejemplo promociones, no modificar la
    sintaxis de jinja ya establecida aqui, dentro de la carpeta templates iran los archivos HTML, los archivos CSS, JS
    e IMG irán en la carpeta static -->

<!-- Esto hace mención a que va a heredar el contenido de la página "base.html" -->
{% extends 'layouts/base.html' %}

{% block title %} Proveedores {% endblock %}

{% block content %}

    <!-- Título -->
    <div class="contenedor__proveedores" style="margin-top: 120px;">
        <h1>Conoce Algunos De Nuestros Proveedores</h1>
        <p>Contamos con proveedores de alta calidad para darte el servicio que te mereces!</p>
        <div>
            <h2>Estas son las marcas que comercializamos</h2>
        </div>
        <div class="slider">
            <div class="slide-track">
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/1.jpeg" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/2.jpg" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/3.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/4.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px; background-color: #fff;">
                    <img class="slide__img" src="../static/Img/prov/5.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/6.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/7.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/8.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/9.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px; background-color: #fff;">
                    <img class="slide__img" src="../static/Img/prov/10.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/11.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/12.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px; background-color: #fff;">
                    <img class="slide__img" src="../static/Img/prov/13.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px; background-color: #fff;">
                    <img class="slide__img" src="../static/Img/prov/14.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px; background-color: #fff;">
                    <img class="slide__img" src="../static/Img/prov/15.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px; background-color: #fff;">
                    <img class="slide__img" src="../static/Img/prov/16.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px; background-color: #fff;">
                    <img class="slide__img" src="../static/Img/prov/17.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px; background-color: #fff;">
                    <img class="slide__img" src="../static/Img/prov/18.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px; background-color: #fff;">
                    <img class="slide__img" src="../static/Img/prov/19.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/20.png" alt="">
                </div>
                <div class="slide mi-slider">
                    <img class="slide__img" src="../static/Img/prov/1.png" alt="">
                </div>
                <div class="slide mi-slider">
                    <img class="slide__img" src="../static/Img/prov/2.png" alt="">
                </div>
                <div class="slide mi-slider">
                    <img class="slide__img" src="../static/Img/prov/3.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/4.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/5.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/6.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/7.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/8.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/9.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/10.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/11.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/12.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/13.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/14.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/15.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/16.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/17.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/18.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/19.png" alt="">
                </div>
                <div class="slide" style="width: 500px; height: 300px; margin-left: 10px;">
                    <img class="slide__img" src="../static/Img/prov/20.png" alt="">
                </div>
            </div>
        </div>
        <div class="contenedor__afiliados">
            <div>
                <h2>Conoce a nuestros afiliados</h2>
                <p>¿También quieres ser ailiado? Solicita informes en nuestro <a href="{% url 'home' %}"> formulario de contacto</a>!</p>
            </div>
            <div class="providers">
                <div class="provider-item">
                    <!-- <img src="../static/Img/prov/Jahir.png" alt="Proveedor 1"> -->
                    <img src="../static/Img/usuario.png" alt="Proveedor">
                    <p><b>Nombre:</b> Jahir De La Cruz</p>
                    <p><b>Encargado:</b> Lider MAIN y Programación del Backend</p>
                    <p style="text-align: justify;"><b>Descripción:</b> Me especialice principalmente en dar función a la lógica del negocio en el lado Backend.</p>
                    <p><b>Redes Sociales:</b></p>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="provider-item">
                    <img src="../static/Img/prov/Hiram.png" alt="Proveedor 2">
                    <p><b>Nombre:</b> Hiram Gonzalez (CHIPITIN)</p>
                    <p><b>Encargado:</b> Lider grupo de diseñadores, Analista</p>
                    <p><b>Descripción:</b> Gestión del grupo de diseñadores y diseño a la página principal. (Se encarga de que salgan bien las cosas)</p>
                    <p><b>Redes Sociales:</b></p>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                 <div class="provider-item">
                    <!-- <img src="../static/Img/prov/Luis.png" alt="Proveedor 3"> -->
                    <img src="../static/Img/usuario.png" alt="Proveedor">
                    <p><b>Nombre:</b> Luis Ponce</p>
                    <p><b>Encargado:</b> Funcionalidad y Efectos en la página</p>
                    <p><b>Descripción:</b> Encargado de proporcionar una mejor experiencia visual dentro de la página.</p>
                    <p><b>Redes Sociales:</b></p>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                 <div class="provider-item">
                    <img src="../static/Img/prov/Mike.png" alt="Proveedor 4">
                    <p><b>Nombre:</b> Miguel Quintero</p>
                    <p><b>Encargado:</b> Diseño de header y footer</p>
                    <p><b>Descripción:</b> Encargado de diseñar el menu y el footer asi como unos cuantos formularios.</p>
                    <p><b>Redes Sociales:</b></p>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="provider-item">
                    <img src="../static/Img/prov/Cristian.png" alt="Proveedor 5">
                    <p><b>Nombre:</b> Cristian Alvarez (Klosswat)</p>
                    <p><b>Encargado:</b> Diseño de esta página de proveedores</p>
                    <p><b>Descripción:</b> Encargado de proporcionar diseño a esta página</p>
                    <p><b>Redes Sociales:</b></p>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="provider-item">
                    <img src="../static/Img/prov/Suri.png" alt="Proveedor 6">
                    <p><b>Nombre:</b> Suri Hernandez</p>
                    <p><b>Encargado:</b> Diseñadora y Capturista de datos</p>
                    <p><b>Descripción:</b> Encargada de ir registrando los reportes e ir registrando los avances que se tienen</p>
                    <p><b>Redes Sociales:</b></p>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="provider-item">
                    <img src="../static/Img/prov/Coffe.png" alt="Proveedor 7">
                    <p><b>Nombre:</b> Abisaí Ramos (Cofi) </p>
                    <p><b>Encargado:</b> Diseño del Blog, paginas de Administrador y capturista de datos. </p>
                    <p><b>Descripción:</b>  Encargado del diseño de diversas paginas.</p>
                    <p><b>Redes Sociales:</b></p>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="provider-item">
                    <!-- <img src="../static/Img/prov/Edson.png" alt="Proveedor 8"> -->
                    <img src="../static/Img/usuario.png" alt="Proveedor">
                    <p><b>Nombre:</b> Edson Rodriguez</p>
                    <p><b>Encargado:</b>Capturista de datos</p>
                    <p><b>Descripción:</b> Encargado de apoyar en el registro de datos e inventario.</p>
                    <p><b>Redes Sociales:</b></p>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}