<!-- Esta es la página principal de toda la aplicación web, no modificar la sintaxis de jinja ya establecida aqui,
    dentro de la carpeta templates iran los archivos HTML, los archivos CSS, JS e IMG irán en la carpeta static -->

<!-- Esto hace mención a que va a heredar el contenido de la página "base.html" -->
{% extends 'layouts/base.html' %}

<!-- Aqui se modifica al titulo correspondiente de la página -->
{% block title %} Inicia Sesión o Registrate para ser cliente {% endblock %}

<!-- Indica el contenido, aquí ira todo lo correspondiente a la página principal, NO modificar la sintaxis jinja -->
{% block content %}

    <!-- Agregar la información, (MEJOREN LA ESTRUCTURA) -->
    <h1>Registrarse</h1>
    <h2>{{ error }}</h2>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Registrarse</button>
    </form>

    <h1>Iniciar Sesión</h1>
    <h2>{{ error }}</h2>

    <form action="" method="POST">
        {% csrf_token %}
        {{ formLogin.as_p }}
        <button>Iniciar Sesión</button>
    </form>

{% endblock %}