<!-- Esta es la página principal de toda la aplicación web, no modificar la sintaxis de jinja ya establecida aqui,
    dentro de la carpeta templates iran los archivos HTML, los archivos CSS, JS e IMG irán en la carpeta static -->

<!-- Esto hace mención a que va a heredar el contenido de la página "base.html" -->
{% extends 'layouts/basePages.html' %}

<!-- Aqui se modifica al titulo correspondiente de la página -->
{% block title %} Registrate para ser Cliente {% endblock %}

<!-- Indica el contenido, aquí ira todo lo correspondiente a la página principal, NO modificar la sintaxis jinja -->
{% block content %}

<!-- Agregar la información, (MEJOREN LA ESTRUCTURA) -->
    <div class="contenedor__formularios" style="margin-top: 100px; margin-bottom: 60px;">
        <div class="contenedor__formularios-register">
            <div>
                <h1>Registrarse</h1>
                <h3 class="mensaje__Error">{{ errorRegister }}</h3>
            </div>
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <div>
                    <label>Nombre de Usuario</label>
                    {{ formRegister.username }}
                </div>
                <div>
                    <label>Correo Electrónico</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label>Contraseña</label>
                    {{ formRegister.password1 }}
                </div>
                <div>
                    <label>Confirmar Contraseña</label>
                    {{ formRegister.password2 }}
                </div>
                <div>
                    <a href="{% url 'iniciar_sesion' %}">Ya tienes una cuenta? Inicia Sesión</a><br>
                    <button type="submit">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
        
{% endblock %}